@font-face {
    font-family: 'Millimetre';
    src: url('../fonts/Millimetre-Regular_web.woff2') format('woff2'),
        url('../fonts/Millimetre-Regular_web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.88%, rgba(0, 0, 0, 0.4) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.4) 6.25%, rgba(0, 0, 0, 0) 21.88%),
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('7288ac98ea84d52dc40c90bfff109437d8ea852a.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 320px) {
        height: 250px;
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @media (max-width: 768px) {
            & {
                justify-content: space-between;
                margin: 0 10px;
            }
        }

        @media (max-width: 320px) {
            margin: 30px 15px 42px;
        }

        p {
            font-family: 'Millimetre', sans-serif;
            font-weight: 800;
            font-style: italic;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 5%;
            color: #ffffff;
            span {
                color: #f01b0d;
            }

            @media (max-width: 320px) {
                margin: 0;
            }
        }

        nav {
            display: flex;
            gap: 50px;
            a {
                font-weight: 400;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 5%;
                text-transform: uppercase;
                color: #ffffff;
                text-decoration: none;

                &:hover {
                    color: #f01b0d;
                }

                @media (max-width: 768px) {
                    & {
                        display: none;
                    }
                }
            }
            .burger-btn {
                width: 48px;
                height: 11px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;
                padding: 0;
                cursor: pointer;
                position: relative;
            }

            .lines {
                display: block;
                position: relative;
                width: 48px;
                height: 0;
            }

            .lines::before,
            .lines::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 1.3px;
                background: #ffffff;
                border-radius: 2px;
            }

            .lines::before {
                top: -5px;
            }
            .lines::after {
                top: 5px;
            }
        }
    }

    .main-news-container {
        width: 640px;
        align-self: center;
        margin-top: 60px;

        @media (max-width: 768px) {
            & {
                width: 574px;
            }
        }

        @media (max-width: 320px) {
            width: 91%;
            margin: 0;
        }

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 5%;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
            margin-bottom: 14px;
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 45px;
            letter-spacing: 0%;
            color: #ffffff;
            margin-top: 0;

            @media (max-width: 320px) {
                font-size: 20px;
                line-height: 100%;
            }
        }
    }

    .color-nav-container {
        height: 60px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            linear-gradient(0deg, #f01b0d, #f01b0d);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @media (max-width: 768px) {
            & {
                height: 45px;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                justify-content: start;
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }

        @media (max-width: 320px) {
            gap: 5px;
        }

        a {
            padding: 20px 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;

            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: black;
            }

            @media (max-width: 768px) {
                white-space: nowrap;
            }
        }
    }
}
