footer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, #f01b0d, #f01b0d);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    @media (max-width: 320px) {
    }

    .text-top-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 268px;
        padding-top: 32px;
        width: 100%;

        @media (max-width: 768px) {
            gap: 102px;
            padding-top: 33px;
        }

        @media (max-width: 320px) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        p {
            font-family: 'Millimetre', sans-serif;
            font-weight: 800;
            font-style: italic;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 5%;
            color: #ffffff;
            margin-top: 0;
            // margin-right: 100px;
        }

        h2 {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 5%;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 0;
            // margin-right: 40px;
        }

        div {
            @media (max-width: 320px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            h2 {
                text-transform: none;
            }
            p {
                font-family: Roboto Flex;
                font-weight: 300;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                font-style: normal;
            }
        }
    }

    .social-wrapper {
        width: fit-content;
        display: flex;
        justify-content: center;
        gap: 24px;

        img:hover {
            cursor: pointer;
        }

        @media (max-width: 320px) {
            padding: 0 16px;
            flex-wrap: wrap;
        }
    }

    .text-bottom-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 22px;

        @media (max-width: 320px) {
            flex-direction: column;
            align-items: center;
        }

        p {
            font-weight: 300;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #ffffff;
        }

        div {
            display: flex;
            gap: 10px;
        }
    }
}
