@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: hidden;
    transition: all 0.5s ease-out;
}
